:host {
  padding: 20px 10% 20px;
  display: block;
  font-size: 24px;
  display: flex;
  justify-content: center;
  background-color: #ff005c;
  background-image: url("https://i.imgur.com/opkriub.jpg");
  font-family: 'Slabo 27px', serif;
}
